<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f7fb;
        margin: 0;
        padding: 0;
    }

    .posts-container {
        position: relative;
        width: 50vw;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .posts-container:hover {
        transform: translateY(-10px);
    }

    .post__content {
        padding: 20px;
        color: #333;
    }

    .title_date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .title_date h3 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #2c3e50;
        margin: 0;

    }

    .title_date p {
        font-size: 0.9rem;
        color: #95a5a6;
        margin: 0;
    }

    .by {
        font-size: 0.9rem;
        color: #7f8c8d;
    }

    .by strong {
        color: #2c3e50;
    }

    .title_date p {
        color: #7f8c8d;
        font-style: italic;
    }

    .post__content p {
        font-size: 1rem;
        line-height: 1.5;
        color: #34495e;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    .subject, .teacher {
        font-size: 0.9rem;
        margin-top: 10px;
        color: #7f8c8d;
    }

    .subject strong, .teacher strong {
        color: #2c3e50;
    }

    .read-more {
        text-align: center;
        background-color: #16a085;
        color: white;
        padding: 10px 20px;
        margin-left: 20px;
        margin-top: 20px;
        font-weight: 500;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .read-more:hover {
        background-color: #1abc9c;
    }

    .posts-container:hover .read-more {
        background-color: #1abc9c;
    }
</style>


<div class="posts-container">
    <article class="question">
        <a href="{% url 'post-detail-page' post.slug %}">
            <div class="post__content">
                <p class="by"><strong>By:</strong> {{ post.author }}</p>
                <p><strong>Reg No:</strong> {{ post.author.registration_number }}</p>
                <hr>

                <div class="title_date">
                    <h3>{{ post.title }}</h3>

                    <p>{{post.posted_on}}</p>

                </div>
                <p><strong></strong> {{ post.description }}</p> <!--Description:-->


                <p class="subject"><strong>Subject:</strong> {{ post.subject }}</p>
                <p class="teacher"><strong>Teacher:</strong> {{ post.teacher }}</p>
            </div>
            <p class="read-more">Read More &rarr;</p>
        </a>
    </article>
</div>